<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whu.p290.dao.HistoryIrrBRWaterStadiaMapper" >
  <resultMap id="BaseResultMap" type="com.whu.p290.model.HistoryIrrBRWaterStadia" >
    <id column="stadiaCode" property="stadiacode" jdbcType="CHAR" />
    <id column="meaTime" property="meatime" jdbcType="TIMESTAMP" />
    <result column="heightUp" property="heightup" jdbcType="NUMERIC" />
    <result column="heightDown" property="heightdown" jdbcType="NUMERIC" />
    <result column="fluxGate" property="fluxgate" jdbcType="NUMERIC" />
    <result column="openDegree1" property="opendegree1" jdbcType="NUMERIC" />
    <result column="openDegree2" property="opendegree2" jdbcType="NUMERIC" />
    <result column="openDegree3" property="opendegree3" jdbcType="NUMERIC" />
    <result column="openDegree4" property="opendegree4" jdbcType="NUMERIC" />
    <result column="openDegree5" property="opendegree5" jdbcType="NUMERIC" />
    <result column="gateState" property="gatestate" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.whu.p290.dto.HistoryIrrBRWaterInfo" >
    <id column="stadiaCode" property="stadiacode" jdbcType="CHAR" />
    <id column="stadia_Name" property="stadianame" jdbcType="CHAR" />
    <id column="meaTime" property="meatime" jdbcType="TIMESTAMP" />
    <result column="heightUp" property="heightup" jdbcType="NUMERIC" />
    <result column="heightDown" property="heightdown" jdbcType="NUMERIC" />
    <result column="fluxGate" property="fluxgate" jdbcType="NUMERIC" />
    <result column="openDegree1" property="opendegree1" jdbcType="NUMERIC" />
    <result column="openDegree2" property="opendegree2" jdbcType="NUMERIC" />
    <result column="openDegree3" property="opendegree3" jdbcType="NUMERIC" />
    <result column="openDegree4" property="opendegree4" jdbcType="NUMERIC" />
    <result column="openDegree5" property="opendegree5" jdbcType="NUMERIC" />
    <result column="gateState" property="gatestate" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    stadiaCode, meaTime, heightUp, heightDown, fluxGate, openDegree1, openDegree2, openDegree3, 
    openDegree4, openDegree5, gateState
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.whu.p290.model.HistoryIrrBRWaterStadiaKey" >
    select 
    <include refid="Base_Column_List" />
    from t_HistoryIrrBRWaterStadia
    where stadiaCode = #{stadiacode,jdbcType=CHAR}
      and meaTime = #{meatime,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.whu.p290.model.HistoryIrrBRWaterStadiaKey" >
    delete from t_HistoryIrrBRWaterStadia
    where stadiaCode = #{stadiacode,jdbcType=CHAR}
      and meaTime = #{meatime,jdbcType=TIMESTAMP}
  </delete>
  <insert id="insert" parameterType="com.whu.p290.model.HistoryIrrBRWaterStadia" >
    insert into t_HistoryIrrBRWaterStadia (stadiaCode, meaTime, heightUp, 
      heightDown, fluxGate, openDegree1, 
      openDegree2, openDegree3, openDegree4, 
      openDegree5, gateState)
    values (#{stadiacode,jdbcType=CHAR}, #{meatime,jdbcType=TIMESTAMP}, #{heightup,jdbcType=NUMERIC}, 
      #{heightdown,jdbcType=NUMERIC}, #{fluxgate,jdbcType=NUMERIC}, #{opendegree1,jdbcType=NUMERIC}, 
      #{opendegree2,jdbcType=NUMERIC}, #{opendegree3,jdbcType=NUMERIC}, #{opendegree4,jdbcType=NUMERIC}, 
      #{opendegree5,jdbcType=NUMERIC}, #{gatestate,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.whu.p290.model.HistoryIrrBRWaterStadia" >
    insert into t_HistoryIrrBRWaterStadia
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stadiacode != null" >
        stadiaCode,
      </if>
      <if test="meatime != null" >
        meaTime,
      </if>
      <if test="heightup != null" >
        heightUp,
      </if>
      <if test="heightdown != null" >
        heightDown,
      </if>
      <if test="fluxgate != null" >
        fluxGate,
      </if>
      <if test="opendegree1 != null" >
        openDegree1,
      </if>
      <if test="opendegree2 != null" >
        openDegree2,
      </if>
      <if test="opendegree3 != null" >
        openDegree3,
      </if>
      <if test="opendegree4 != null" >
        openDegree4,
      </if>
      <if test="opendegree5 != null" >
        openDegree5,
      </if>
      <if test="gatestate != null" >
        gateState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stadiacode != null" >
        #{stadiacode,jdbcType=CHAR},
      </if>
      <if test="meatime != null" >
        #{meatime,jdbcType=TIMESTAMP},
      </if>
      <if test="heightup != null" >
        #{heightup,jdbcType=NUMERIC},
      </if>
      <if test="heightdown != null" >
        #{heightdown,jdbcType=NUMERIC},
      </if>
      <if test="fluxgate != null" >
        #{fluxgate,jdbcType=NUMERIC},
      </if>
      <if test="opendegree1 != null" >
        #{opendegree1,jdbcType=NUMERIC},
      </if>
      <if test="opendegree2 != null" >
        #{opendegree2,jdbcType=NUMERIC},
      </if>
      <if test="opendegree3 != null" >
        #{opendegree3,jdbcType=NUMERIC},
      </if>
      <if test="opendegree4 != null" >
        #{opendegree4,jdbcType=NUMERIC},
      </if>
      <if test="opendegree5 != null" >
        #{opendegree5,jdbcType=NUMERIC},
      </if>
      <if test="gatestate != null" >
        #{gatestate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whu.p290.model.HistoryIrrBRWaterStadia" >
    update t_HistoryIrrBRWaterStadia
    <set >
      <if test="heightup != null" >
        heightUp = #{heightup,jdbcType=NUMERIC},
      </if>
      <if test="heightdown != null" >
        heightDown = #{heightdown,jdbcType=NUMERIC},
      </if>
      <if test="fluxgate != null" >
        fluxGate = #{fluxgate,jdbcType=NUMERIC},
      </if>
      <if test="opendegree1 != null" >
        openDegree1 = #{opendegree1,jdbcType=NUMERIC},
      </if>
      <if test="opendegree2 != null" >
        openDegree2 = #{opendegree2,jdbcType=NUMERIC},
      </if>
      <if test="opendegree3 != null" >
        openDegree3 = #{opendegree3,jdbcType=NUMERIC},
      </if>
      <if test="opendegree4 != null" >
        openDegree4 = #{opendegree4,jdbcType=NUMERIC},
      </if>
      <if test="opendegree5 != null" >
        openDegree5 = #{opendegree5,jdbcType=NUMERIC},
      </if>
      <if test="gatestate != null" >
        gateState = #{gatestate,jdbcType=CHAR},
      </if>
    </set>
    where stadiaCode = #{stadiacode,jdbcType=CHAR}
      and meaTime = #{meatime,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whu.p290.model.HistoryIrrBRWaterStadia" >
    update t_HistoryIrrBRWaterStadia
    set heightUp = #{heightup,jdbcType=NUMERIC},
      heightDown = #{heightdown,jdbcType=NUMERIC},
      fluxGate = #{fluxgate,jdbcType=NUMERIC},
      openDegree1 = #{opendegree1,jdbcType=NUMERIC},
      openDegree2 = #{opendegree2,jdbcType=NUMERIC},
      openDegree3 = #{opendegree3,jdbcType=NUMERIC},
      openDegree4 = #{opendegree4,jdbcType=NUMERIC},
      openDegree5 = #{opendegree5,jdbcType=NUMERIC},
      gateState = #{gatestate,jdbcType=CHAR}
    where stadiaCode = #{stadiacode,jdbcType=CHAR}
      and meaTime = #{meatime,jdbcType=TIMESTAMP}
  </update>
   
  <select id="getHistoryWaterInfo" parameterType="com.whu.p290.dto.HistoryQueryParam" resultMap="BaseResultMap2">
  	SELECT t2.Stadia_Name,t1.*
	FROM (SELECT * 
			FROM t_HistoryIrrBRWaterStadia
			WHERE meaTime &lt;= #{endTime,jdbcType=CHAR} AND meaTime &gt;= #{beginTime,jdbcType=CHAR} AND stadiaCode = #{stadiaCode,jdbcType=CHAR}
			)t1
	LEFT JOIN t_IrrBRStadia t2
	ON t1.stadiaCode = t2.stadiaCode AND t1.stadiaCode = #{stadiaCode,jdbcType=CHAR} AND t2.stadiaCode = #{stadiaCode,jdbcType=CHAR}
  </select>  <!-- 这样可否提高效率？？ -->
</mapper>